<div id="maintenance" class="row p-5">
  <div class="col-lg-4 col-sm-12 text-center">
    <div class="text-uppercase h1">maintenance Products</div>
    <div class="text-justify mt-5">
      We are one of the best bicycle companies in the world. We provide the best quality products of bicycle and no one
      can be compared by our service.
    </div>
    <div class="col-lg-6 col-md-6 col-12 mt-5 mb-5">
      <app-button [content]="'See all products'"></app-button>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <app-card></app-card>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <app-card></app-card>
  </div>
</div>