<div class="d-flex flex-wrap bg-dark w-100" id="footer">
  <div id="company" class="col-sm-12 col-md-6 col-lg-5 text-white-50">
    <div class="h2 text-white">BICYCLE COMPANY</div>
    <div>
      Alquam erat volutpat. Maecenas vehicula sopien quis erat inerdum aliquam non id ante.
    </div>
    <div class="d-flex justify-content-between col-lg-11 p-0 text-muted">
      <span>Guides</span>
      <span>Terms of use</span>
      <span>Privacy policy</span>
    </div>
    <div>
      Copyright 2017, Bicycle Company
    </div>
  </div>
  
  <div id="links" class="col-sm-12 col-md-6 col-lg-2 text-white-50">
    <div class="text-white title">Quick Links</div>
    <div>Search</div>
    <div>Shipping and Delivery</div>
    <div>Payment Option</div>
    <div>Contact Us</div>
  </div>

  <div id="aboutUs" class="col-sm-12 col-md-6 col-lg-2 text-white-50">
    <div class="text-white title">About Us</div>
    <div>Our story</div>
    <div>Maintenance</div>
    <div>Service</div>
    <div>Products</div>
  </div>

  <div id="followUs" class="col-sm-12 col-md-6 col-lg-3 text-white-50">
    <div class="text-white title">Follow Us</div>
    <div class="logs">
      <img src="assets/images/footer/facebook.svg" class="img-fluid " alt="facebook" width="20" height="20">
      <img src="assets/images/footer/twitter.svg"  class="img-fluid" alt="twitter" width="20" height="20">
      <img src="assets/images/footer/instagram.svg" class="img-fluid" alt="instagram" width="20" height="20">
    </div>
    <div class="text-white-50 payment">
      Payment methods
    </div>
    <div>
      <img src="assets/images/footer/paypal.svg" class="img-fluid " alt="paypal" width="90">
      <img src="assets/images/footer/visapay.svg" class="img-fluid " alt="visa" width="70">
    </div>
  </div>
</div>