#footer{
    padding: 2.5rem 3.5rem;
    line-height: 2.5rem;
    .title{
        font-size: x-large;
    }
    #followUs{
        img{
            margin-right: .8rem
        }
        .payment{
            margin-top: 20px;
            margin-bottom: -20px
        }
    } 
}