<div id="introduction" class="row p-5">
  <div class="col-lg-6">
    <div class="text-uppercase h1"><strong>{{title}}</strong></div>
    <p class="mt-5 mb-5">{{content}}</p>
    <div class="col-sm-6 col-lg-4 mb-5" >
      <app-button [content]="'More info'" [bgColor]="'red'"></app-button>
    </div>
  </div>
  <div class="col-lg-5 col-md-6 col-sm-6 position-relative" style="height: 400px;">
    <img class="position-absolute" src="assets/images/introduction/peak_cycles_2.jpg" alt="backImage" width="220" height="220">
    <img class="position-absolute" src="assets/images/introduction/peak_cycles_fatboy.jpg" alt="frontImage" width="220" height="220">
  </div>
</div>