<div id="subscribe" class="text-center pt-5 pb-5">
 <div class="ml-auto mr-auto w-75">
   <div class="text-uppercase h1">subscribe to our newsletter</div>
   <div class="text mt-5 mb-5">
     Duis consecteur nisi sed augue mattis, In lobbortis nunc suscipit. Curabitur ullamcorper dui nec nisi ultricies
     pulvinar
   </div>
   <div>
     <form action="" method="post">
       <input  type="text" class="form-control" placeholder="Enter your email" aria-label="Recipient's username">
       <button type="submit">
         <i class="material-icons">
           email
         </i>
       </button>
     </form>
   </div>

 </div>

</div>